*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 84px;
}

header{
    background:violet;
    position: sticky;
    top:0;
   
}

li{
    list-style:none;
}

.nav-logo{
    color: #ffff;
    text-decoration:none; 
    font-size:2rem;  
    padding:0 1rem;
}

.nav-link{
    color: #ffff;
    text-decoration:none;
    margin: 0 0.5rem;
    transition: 0.7s ease;
}

.nav-link:hover{
    color:purple;
    border-bottom:2px solid #fff;
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    min-height:53px;
    padding: 0 2rem;
}

.nav-menu{
    display: flex;
    justify-content:space-between;

}

.hamburger{
    display: none;
    cursor: pointer;
   
} 

.bar{
 display: block;
 background-color:#ffff;
 width: 27px;
 height: 3px;
 margin: 0.4rem;
 -webkit-transition: all 0.3s ease-in-out;
 transition: all 0.3s ease-in-out;
}

@media only screen and (max-width:768px) {

    .hamburger{
        display: block;
    }
 /* turning the hamburger icon to closing icon (easiest way) */
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform:translateY(10px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-9px) rotate(-45deg);
    }

 .nav-menu{
 position:fixed;
 left:-100%;
 top:53px; 
 width: 100%; 
 flex-direction: column;
 background-color:rgb(208, 55, 131);
 text-align: center;
 transition:0.4s ease-in; 
 }

 .nav-item{
    margin:1rem 0;
 }

.nav-menu.active{
    left:0;
}
.nav-link:focus{
    color: black;
}

#deleteNotesDiv{
    flex-direction: column;
}


}

.container{
    min-height: 100vh;
    width:100%;
    background:url(./img/bg1.png) no-repeat center center  ;
    background-size: cover;
    padding: 23px 12px;
}

#input-box{
    margin: auto;
    border:1px solid rgb(244, 244, 244);
    max-width: 850px;
    border-radius: 12px;
    padding: 23px 12px ;
}

input,textarea{
    width:100%;
    background-color: transparent;
    border: none;
    padding: 8px 0;
    outline:none;
    text-transform: capitalize;
    color:#ffff;
}

#addButton{
    background-color: rgb(208, 55, 131);
    padding: 8px 31px;
    font-size: 16px;
    color: #ffff;
    font-weight: 800;
    box-shadow: 2px 2px 23px rgb(14, 9, 9);
    border-radius: 100px;
}
.deleteButton,.restoreButton, .editButton,
#saveButton,.archiveButton,.unarchiveButton{
    background-color: rgb(208, 55, 131);
    padding: 5px 8px;
    color:#ffffff;
    border: none;
    outline: none;
    font-size:1.2rem;
    border-radius: 23px;
}


.restoreButton{
    margin-top: 0.8rem;
}
.archiveButton{
    background-color: purple;
    margin-left: 10.5rem;
}
.editButton,.unarchiveButton{
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin-top:0.8rem;
}
.deleteButton{
    float: right;
    margin-top:0.5rem;
}
#saveButton{
   
    font-size: 1rem;
    background-color:purple;
}

h3{
color:#ffff;
justify-content: center; 
/* background-color: red; */
display: block; 
padding: 12px;  

}
.deleteButton:hover{
    background-color:purple;
}

#addTitle,.title{
    font-weight:900 ;
    text-transform: capitalize;
}
#addNotesDiv,#archiveNotesDiv{
    /* border:2px solid red; */
     display: flex;
     justify-content: center; 
     flex-wrap: wrap;
     margin-top: 14px;
}


#deleteNotesDiv{
    /* background-color: rgb(221, 111, 111); */
    padding: 4rem 2rem;
    display: flex;
    margin: 23px 0;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}
.note,.enote,.archived-note{
    flex-basis:25%;
    aspect-ratio: 0.5/0;
    margin: 10px; 
    border-radius: 8px;
    background-color:rgb(173, 91, 173);
    color:#ffff;
    padding: 4rem 0;
    padding: 20px 12px;
    box-shadow: 2px 8px 14px blueviolet;
    border:2px solid transparent;
}

.enote{
 background-color: rgb(134, 78, 186);
 box-shadow: #ffff;
}
.archived-note{
    background-color: violet;
}
#editNote{
 color: #ffff;

}
.dnote{
    width:250px;
    margin: 10px 3px ;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(215, 24, 24);
    color:#ffff;
    padding: 20px 12px;
    border:1px solid transparent;
}
.dtext{
    text-decoration: line-through; 
    text-decoration-color: black;
    text-align: center;
}
.title{
    text-align: center;
    font-size: 1rem;
    padding-bottom:0.2rem;
}
.text{
    padding-bottom: 0.3rem;
}

@media screen and (max-width: 768px) {
    .container{
    padding: 23px 6px;
    }
    
    #input-box{
    max-width: 100%;
    border-radius: 12px;
    padding: 23px 12px ;
    }
    
    .note,.enote,.archived-note{
    flex-basis: 100%;
    }
    
    #deleteNotesDiv{
    padding: 2rem 1rem;
    }
    
    .dnote{
    width: 100%;
    margin: 10px 0;
    }
 

    .unarchiveButton,.restoreButton{
        float: right;
        }
        .archiveButton{
            float: right;
            margin-top: 0.5rem;
            margin-right: 0.3rem;
        }
    }
    
    @media screen and (max-width: 480px) {
    .container{
    padding: 23px 3px;
    }
    
    #input-box{
    max-width: 100%;
    border-radius: 12px;
    padding: 23px 12px ;
    }
    
    .note,.enote,.archived-note{
    flex-basis: 100%;
    }
    
    #deleteNotesDiv{
    padding: 2rem 1rem;
    }
    
    .dnote{
    width: 100%;
    margin: 10px 0;
    }
    
    #addButton{
        font-size: 14px;
        padding: 8px 15px;
        border-radius: 50%;
    }
    
    .editButton,.unarchiveButton{
    font-size: 0.6rem;
    padding: 0.2rem 0.6rem;
    }
    
    .deleteButton,.restoreButton, .editButton,
    #saveButton,.archiveButton,.unarchiveButton{
    font-size: 1rem;
    border-radius: 15px;
    }
    
    #editNote{
    font-size: 0.8rem;
    }
 
    
    .text{
       text-align: center;
    }
 }

    @media screen and (max-width:340px){
.archiveButton{
    margin-left: 8.5rem;
}

.restoreButton {
    margin-left: 5rem;
}
    }